
@{
    ViewBag.Title = "ConfirmPaymentClient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 style="margin-top: 2rem">Hủy bỏ giao dịch</h4>
<h5>Bạn đã hủy bỏ giao dịch, đơn hàng của bạn vẫn được giao đến bạn theo hình thức thanh toán - nhận hàng</h5>
<h5>Xin trân trọng!</h5>

