<ul class="nav navbar-nav navbar-right" style="margin-top:8px">
    <li class="nav-item dropdown">
        <a class="getstarted scrollto active text-hover" href="@Url.Action("GioHang", "GioHang")" style="font-weight:bold; text-decoration:none; ">
            Giỏ hàng (@Session.Tongsoluongsanpham)
        </a>
    </li>
</ul>