@model IEnumerable<DAISY.Models.tb_LOAISANPHAM>

@{
    Layout = null;
}

<h5 style="margin-top:5rem; font-weight:700">CHỌN THEO DANH MỤC</h5>


<div class="swiper mySwiper" style="padding:17px; padding-bottom:24px">
    <div class="swiper-wrapper" style="margin-bottom: 1rem;">

        @foreach (var item in Model)
        {
            <div class="swiper-slide" style="background-color:transparent">

                <div class="card card-hover" style=" border-radius: 1rem ">
                    <a href="@Url.Action("SanPhamByDanhMuc", "Home",new { @id = item.IDLOAISANPHAM})">
                        <img style="border-radius:1rem;" src="@item.HINHANH" class="img-hover card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h6 style="height: 20px; text-decoration:none; color:black">@item.TENLOAISANPHAM</h6>
                    </div>
                </div>

            </div>
        }
    </div>
    <div>
        <a style="text-decoration:none" href="@Url.Action("Index", "LoaiSanPham")">
            <h6 class="text-hover" style="text-align:right">
                Xem tất cả
                <svg style="color:red" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                </svg>
            </h6>

        </a>
    </div>


    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
</div>
